{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
{% for article in articles %}
	<article>
		<div class="card m-2">
			<h3 class="card-header">
				{{ article.title }}
			</h3>
			<div class="card-body">
				<p class="card-text">{{ article.summary }}</p>
			</div>

{#			<div class="card-footer">#}
{#				<small>#}
{#					{{ post.comments|length }}#}
{#					comments#}
{#					<a href="{{ path("read_post", { id: post.id }) }}">Read more...</a>#}
{#				</small>#}
{#			</div>#}
		</div>
	</article>
{% endfor %}
{% endblock %}
